body {
       font-family: Verdana, Tahoma, Times New Roman;
       font-size: .8em;
       color: #A52A2A;
       display: inline;
}
a {
       text-decoration: none;
       color: #A52A2A;
}
a:hover {
       text-decoration: underline;
}
#footer {
       position: fixed;
       bottom: 0px;
       right: 0px;
       float: right;
       font-size: 70%;
       color: #808080;
       text-align: right;
}
#beans {
       position: absolute;
       top: 0px;
       right: 0px;
}
#nav {
       position: absolute;
       font-weight: bold;
       top: 10%;
       left: 7%;
       height: 20px;
       width: 500px;
}
#main {
       position: absolute;
       top: 15%;
       left: 7%;
       height: 60%;
       width: 50%;
       word-wrap: break-word;
}
#main #post {
       margin-bottom: 10px;
}
#main #post h1 {
       margin-left: 5px;
       font-size: 130%;
       font-weight: bold;
       text-decoration: underline;
       color: #462E22;
}
#main #post #content {
       margin-left: 10px;
       word-wrap: break-word;
       width: 100%;
       color: #1D1E19;
}
#main #post #ps {
       margin-top: 5px;
       font-size: 70%;
       color: #808080;
}