#game-frame {
    width: 100%;
    background-image: url("images/sky.jpg");
    height: 600px;
    box-shadow: 0 0 4px -1px black;
    border-left: 5px solid ghostwhite;
    border-right: 5px solid ghostwhite;
    border-top: 5px solid ghostwhite;
}

#control-bar {
    position: relative;
    top: 96%;
    left: 2%;
}

#control-bar:before {
    content: '';
    display: block;
    position: absolute;
    width: 200px;
    height: 16px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 3px rgba(0, 0, 0, 0.4),
    0 1px 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 3px rgba(0, 0, 0, 0.4),
    0 1px 1px #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 3px rgba(0, 0, 0, 0.4),
    0 1px 1px #000;
    background: aliceblue;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(white));
    background: -moz-linear-gradient(top, white, white);
}

/* code to stripe the bars */
#control-bar:after {
    content: '|||||||||||||';
    display: block;
    position: absolute;
    width: 200px;
    height: 24px;
    overflow: hidden;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    font:bold 120px/80px sans-serif;
    letter-spacing: -6px;
    color: #00001a;
    opacity: 0.05;
}

#score-box .card-body {
    padding: 4px 0 0 0 !important;
}

#ranking-box .card-body {
    padding: 20px 6px 4px 6px !important;
}